@font-face {
    font-family: Anton;
    src: url(../fonts/Anton-Regular.ttf);
 }

a {
   text-decoration: none;
}

 html, body {
   display: flex;
   font-family: Anton !important;
   background-color: black;
   max-width: 550px;
   min-width: 300px;
   margin: 0 auto;
 }

 body {
   background-image: url("../img/bg.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
 }

 .content {
   background-color: rgba(0, 0, 0, 0.5);

 }

 .container {
   padding-top: 10px;
 }

 .row-fluid {
   -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
   border-color: #D67522 !important;
   margin-top: 10px;
   margin-bottom: 50px !important;
 }

 .container_social {
   width: 100%;
   justify-content: center;
 }

 h1 {
    /*text-decoration: underline #D67522 4px;*/
    display: inline-block;
    padding-bottom: 1px;
    position: relative;
 }

 h1:before {
    content: "";
    position: absolute;
    width: 65%;
    height: 1px;
    bottom: 0;
    left: 0;
    border-bottom: 4px solid #D67522;
 }

.text-nomes {
    font-size: 20px;
}
.text-ingredientes {
    font-size: 12px !important;
}

.row>* {
   margin: 0 !important;
   padding-left: 0 !important;
}

.footer p {
   font-size: 12px;
}